[push]
  default = matching
[help]
  autocorrect = 1
[core]
  autocrlf     = input
  quotepath    = false
  whitespace   = cr-at-eol,indent-with-non-tab,blank-at-eol,space-before-tab
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[alias]
  st            = status
  ss            = stash save
  sl            = stash list
  cm            = checkout master
  cp            = checkout production
  cam           = commit -a -m
  pull-changes  = !git pull origin HEAD
  push-branch   = !git push origin $(git rev-parse --abbrev-ref HEAD)
  del-branch    = !git push origin --delete $(git rev-parse --abbrev-ref HEAD)
  rebase-branch = !git rebase -i `git merge-base master HEAD`
  squash        = !git rebase -i --autosquash HEAD~2
  clean-merged  = !git cm && git pull && git branch --merged | egrep -v \"(master|production)\" | xargs git branch -d
  aliases       = !git config --list | grep ^alias\\. | cut -c 7-
  hist          = log --pretty=\"%h - %s, %cn %cd\" --graph --since=1.weeks
  sub-update    = !git submodule update --init --recursive
[filter "lfs"]
  clean    = git-lfs clean %f
  smudge   = git-lfs smudge %f
  required = true
[user]
  email = user@example.com
  name  = userName
