[push]
  default = matching
[help]
  autocorrect = 1
[core]
  autocrlf     = input
  quotepath    = false
  whitespace   = cr-at-eol,indent-with-non-tab,blank-at-eol,space-before-tab
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[alias]
  st           = status
  ss           = stash save
  sl           = stash list
  cm           = checkout master
  cp           = checkout production
  cam          = commit -a -m
  ria          = !git rebase -i --autosquash HEAD~2
  clean-merged = !git branch --merged | egrep -v \"(master|production)\" | xargs git branch -d
  del-branch   = !git push origin --delete `git rev-parse --abbrev-ref HEAD`
  aliases      = !git config --list | grep ^alias\\. | cut -c 7-
  hist         = log --pretty=\"%h - %s, %cn %cd\" --graph --since=1.weeks
[filter "lfs"]
  clean    = git-lfs clean %f
  smudge   = git-lfs smudge %f
  required = true
[user]
  email = user@example.com
  name  = userName
