[push]
  default = matching
[help]
  autocorrect = 1
[core]
  editor = code
  autocrlf = input
  quotepath = false
  whitespace = cr-at-eol,indent-with-non-tab,blank-at-eol,space-before-tab
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[alias]
  gst = git status
  gdi = git diff
  gch = git checkout
  cam = commit -a -m 
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[user]
  email = liberty195@gmail.com
  name = redVi
