<!DOCTYPE HTML>
<html>
<head>
/*Прописываем мета-теги для поисковых систем, указываем кодировку*/
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Irina Shefer" />
    <meta name="keywords" content="городское такси, такси 3-55" />
    <meta name="description" content="Лучшее такси города, доставим куда угодно" />
    <link rel="stylesheet" type="text/css" href="style.css"/>
 /*Заголовок страницы*/
<title>Служба такси</title>
</head>
<body>
</body>
</html>
