"*":
  "exception-reporting":
    userId: "b0778980-458c-4ffc-596a-7d8d992fcebc"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    disabledPackages: [
      "autosave"
      "metrics"
      "bookmarks"
      "minimap"
    ]
    autoHideMenuBar: true
    themes: [
      "isotope-light-ui"
      "wombat-light-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    lineHeight: 1.3
    zoomFontWhenCtrlScrolling: false
    showIndentGuide: true
    fontFamily: "Consolas"
    confirmCheckoutHeadRevision: false
    fontSize: 15
  "one-light-ui": {}
  "atom-beautify":
    analytics: false
  autoprefixer:
    browsers: [
      "1%"
      "last 2 versions"
      "ie10"
    ]
    remove: false
  "one-dark-ui": {}
  "one-light-ui-adwaita": {}
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  "atom-terminal":
    app: "urxvt"
    MacWinRunDirectly: true
  "terminal-status": {}
  "isotope-light-ui":
    fontFamily: "Fira Sans"
    customBackgroundColor: "false"
    fontWeight: "Regular"
  minimap: {}
  "isotope-ui":
    fontWeight: "Regular"
    minimalMode: true
  linter:
    statusIconScope: "File"
    showErrorTabProject: false
  "markdown-writer": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style: {}
    toggles:
      autoClose: true
      cursorBlink: false
    colors:
      blue:
        red: 60
        green: 60
        blue: 106
        alpha: 1
      green:
        red: 65
        green: 123
        blue: 65
        alpha: 1
  emmet: {}
  jshint:
    validateOnlyOnSave: true
    onlyConfig: true
  "git-plus": {}
  pigments: {}
  "project-manager":
    sortBy: "title"
    closeCurrent: true
  "atom-ternjs": {}
  "autocomplete-plus": {}
  "Remote-FTP":
    autoUploadOnSave: "only when connected"
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "unity-dark-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "ult-terminal": {}
  docblockr: {}
  "autoclose-html": {}
  "slim-dark-ui": {}
  "atom-material-ui":
    compactTreeView: true
    panelContrast: true
    showTabIcons: "Show on active tab"
  "tree-view":
    hideVcsIgnoredFiles: true
".js.rails.source source.jquery.js":
  editor:
    normalizeIndentOnPaste: "2"
    preferredLineLength: 78
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 78
".js.regexp.replacement.source":
  editor:
    normalizeIndentOnPaste: "3"
    preferredLineLength: 78
".php.source.wordpress":
  editor:
    preferredLineLength: 78
".ruby.source.sql":
  editor:
    preferredLineLength: 78
".rails.ruby.source":
  editor:
    preferredLineLength: 78
".python.regexp.source":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "4"
".js.regexp.source":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "3"
".console.python.text":
  editor:
    preferredLineLength: 78
".python.text.traceback":
  editor:
    preferredLineLength: 78
".erb.html.text":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
".html.ruby.text":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
".css.less.source":
  editor:
    normalizeIndentOnPaste: "2"
    preferredLineLength: 78
    tabLength: 4
".css.scss.source":
  editor:
    normalizeIndentOnPaste: "2"
    preferredLineLength: 78
".basic.html.text":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
".source.stylus":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
".jade.source":
  editor:
    preferredLineLength: 78
".diff.source":
  editor:
    preferredLineLength: 78
".ruby.source":
  editor:
    preferredLineLength: 78
".css.source":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
".python.source":
  editor:
    preferredLineLength: 78
    autoIndentOnPaste: true
    normalizeIndentOnPaste: "4"
".js.source":
  editor:
    preferredLineLength: 78
    normalizeIndentOnPaste: "2"
    autoIndentOnPaste: true
".gfm.source":
  editor:
    preferredLineLength: 78
".sass.source":
  editor:
    preferredLineLength: 78
    autoIndentOnPaste: true
    normalizeIndentOnPaste: "2"
