'atom-text-editor[data-grammar~="stylus"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[data-grammar="text html erb"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'

'atom-text-editor[mini]':
  'ctrl-space': 'snippets:expand'

'atom-text-editor':
  'ctrl-alt-l': 'editor:auto-indent'
