# JavaScript
'.source.js':
  'fast jquery':
    'prefix': 'jq'
    'body': '''
      (function($1, undefined) {
        jQuery(document).ready(function () {
          $2
        });
      })(jQuery);'''

  'console log':
    'prefix': 'log'
    'body': '
      console.log(${1:this});'

  'react class':
    'prefix': 'rclass'
    'body': '''
      class $1 extends React.Component {
        render() {
          $2
        }
      }'''


# Styles
'.source.css, .source.less, .source.styl, .source.scss':
  'outline':
    'prefix': 'ot'
    'body': 'outline: 1px solid #e44;'



# HTML
'.source.html, .source.jade, .source.pug':
  'svg use':
    'prefix': 'svguse'
    'body': '<svg><use xlink:href="${1:path}.svg#${2:id}"></use></svg>'


  'rouble':
    'prefix': 'rub'
    'body': '&#8381;'


  '|jb':
    'prefix': 'jade+bem'
    'body': 'bem|jade'
