<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-editors-menu" label="Editors">
  <item label="SublimeText2">
    <action name="Execute">
      <command>subl</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>subl</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Sakura">
    <action name="Execute">
      <command>sakura</command>
    </action>
  </item>
  <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="Run command">
    <action name="Execute">
      <command>gmrun</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox-bin</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>firefox</wmclass>
      </startupnotify>
    </action>
</item>
  <item label="Google Chrome">
    <action name="Execute">
      <command>google-chrome-beta</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>google-chrome-beta</wmclass>
      </startupnotify>
    </action>
</item>
  <item label="Transmission">
    <action name="Execute">
      <command>transmission-gtk</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>transmission</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Pidgin Instant Messenger">
    <action name="Execute">
      <command>pidgin</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="MPlayer">
    <action name="Execute">
      <command>mplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>MPlayer</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Xfburn">
    <action name="Execute">
      <command>xfburn</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>xfburn</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Camera">
    <action name="Execute">
      <command>cheese</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>cheese</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>


<menu id="apps-fileman-menu" label="File Managers">
  <item label="Spacefm">
    <action name="Execute">
      <command>spacefm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Mirage">
    <action name="Execute">
      <command>mirage</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="Abiword">
    <action name="Execute">
      <command>abiword</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>abiword</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Zathura">
    <action name="Execute">
      <command>zathura</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="GParted">
    <action name="Execute">
      <command>gparted</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <menu id="apps-office-menu" />
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
